<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/">
                       Point the off Beach
                    </a>
                </li>
                <li>
                    <a href="/">
                        Sobre nós
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/">
                        Licença
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Desenvolvido por
            <a href="/" target="_blank">Flavio Almeida</a> central de negócios web.
        </div>
    </div>
</footer>
