<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Lista Cadastro de Clientes</h4>
        <p class="card-category">Clientes cadastros no sistema</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    ID
                </th>
                <th>
                    Nome
                </th>
                <th>
                    CPF
                </th>
                <th>
                    E-Mail
                </th>
                <th>
                    Celular
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        0001
                    </td>
                    <td>
                        Flavio Rodrigues de Almeida
                    </td>
                    <td>
                        290.245.458-97
                    </td>
                    <td>
                        flavio.almeida53@gmail.com
                    </td>
                    <td class="text-primary">
                       (11) 96413-2033
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
