<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Lista de Produtos</h4>
        <p class="card-category">Produtos do sistema</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
                <th>
                    Código Produto
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Data Cadastro
                </th>
                <th>
                    Estoque
                </th>
                <th>
                    Preço
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        0000000000001
                    </td>
                    <td>
                        Produto cadastrado
                    </td>
                    <td>
                        08/01/2021
                    </td>
                    <td>
                        1
                    </td>
                    <td class="text-primary">
                      R$ 18,90
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
