<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Dados Empresa e Login</h4>
        <p class="card-category">Cadastro de Usuarios</p>
    </div>
    <div class="card-body">
        <form #form="ngForm" (ngSubmit)="postUsuario()"  novalidate> 
          
            <div class="row">
                <div class="col-md-5">
                  <mat-form-field appearance="fill">
                    <mat-label>Empresas</mat-label>
                    <mat-select [(value)]="selectedEmpresa">
                      <mat-option [value]="option.idEmpresa" *ngFor="let option of empresas" >{{ option.nomeEmpresa }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Login do usuário" [(ngModel)]="user.loginUser" [ngModelOptions]="{standalone:true}" required>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Senha de acesso" type="password" [(ngModel)]="user.senhaUser" [ngModelOptions]="{standalone:true}" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome Completo" type="text" [(ngModel)]="user.nomeUser" [ngModelOptions]="{standalone:true}" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput appMaskPoint="999.999.999-99" placeholder="CPF" type="text" [(ngModel)]="user.cpfUser"  [ngModelOptions]="{standalone:true}"
                   maxlength="14" required>

                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail do usuário" type="email" [(ngModel)]="user.emailUser" [ngModelOptions]="{standalone:true}" [formControl]="emailFormControl" required>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      <strong>Por favor insira um e-mail válido!</strong>
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      <strong>E-Mail é de preenchimento obrigátorio!</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="RG" appMaskPoint="99.999.999-9" type="text" [(ngModel)]="user.rgUser" [ngModelOptions]="{standalone:true}" required>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="CLT" type="text" [(ngModel)]="user.cltUser" [ngModelOptions]="{standalone:true}">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Numero Celular" appMaskPoint="(99) 9.9999-9999" type="text" [(ngModel)]="user.celularUser" [ngModelOptions]="{standalone:true}" required>
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <label>Observações Profissionais</label>
                  <mat-form-field class="example-full-width">
                     <textarea matInput placeholder="Área de anotações cadastrais" [(ngModel)]="user.obsUser" [ngModelOptions]="{standalone:true}"></textarea>
                   </mat-form-field>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-success pull-right btn-round">Salvar Perfil</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
