<div class="card card-profile">
    <div class="card-avatar">
        <a href="javascript:void(0)">
            <img class="img" src="./assets/img/favicon.png" />
        </a>
    </div>
    <div class="card-body">
        <h6 class="card-category text-gray">Auto Atendimento</h6>
        <h4 class="card-title">Point Beach</h4>
        <p class="card-description">
            Sistema de auto atendimento para vendas e comércio alimenticio, sistema inteligado a localização e monitoramento do consumo do cliente...
        </p>
    
    </div>
</div>
